<header class="flex justify-between items-center bg-primary text-white border-b border-black">
  <nav class="flex items-center ml-14 h-20 sm:ml-5">
    @for (item of items; track $index) {
      <a [routerLink]="item.route" class="drop-shadow hover:cursor-pointer active:drop-shadow-none">
        {{ item.titleKey | translate }}
      </a>
    }
  </nav>
  <div class="flex items-center mr-14 drop-shadow hover:cursor-pointer active:drop-shadow-none sm:mr-5">
    <button (click)="handleClick()" class="flex items-center gap-1">
      <app-translation-svg />
      <span>{{ languages.get(currentLang)!.name }}</span>
    </button>
  </div>
</header>
