.name {
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
}

.title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    gap: 10px;
}


.details {
    color: rgba(0, 0, 0, 0.8);
    /*max-width: 1120px;*/
}
