<!-- Component -->
<div class="flex flex-col gap-4 mt-16">
    <div class="flex items-center gap-6">
        <app-dev-svg />
        <div>
            <ng-container [ngTemplateOutlet]="nameRef" />
            <ng-container [ngTemplateOutlet]="titleRef" />
        </div>
    </div>
    <ng-container [ngTemplateOutlet]="detailsRef" />
</div>

<!-- Templates -->
<ng-template #nameRef>
    <p class="name">{{ 'intro.name' | translate }}</p>
</ng-template>

<ng-template #titleRef>
    <div class="title">
        <span>{{ 'intro.title' | translate }}</span>
        <span> | </span>
        <span>in</span>
        <app-heart-svg />
        <span>with Angular & TypeScript</span>
    </div>
</ng-template>

<ng-template #detailsRef>
    <p class="details text-block">{{ arrowUnicode }} {{ 'intro.details' | translate }}</p>
</ng-template>
