/* You can add global styles to this file, and also import other style files */
@import './variables.css';

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .text-block {
    @apply text-lg w-fit p-4 text-smooth-black border border-black rounded-xs shadow-md shadow-primary bg-white
  }

  .clickable-block {
    @apply w-fit h-fit p-1 transition-shadow border border-black rounded-xs bg-white shadow-sm shadow-primary hover:shadow-secondary hover:cursor-pointer
  }

  .subjects {
    @apply flex flex-wrap justify-center gap-4 max-w-[580px] min-h-[200px]
  }
}

/* Sizes */
.xs {
  font-size: 0.75rem;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 1.25rem;
}

.lg {
  font-size: 1.5rem;
}

.xl {
  font-size: 1.75rem;
}

.xxl {
  font-size: 2rem;
}
