@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/noto_sans/noto_sans_var.woff2') format('.woff2');
  src: url('/assets/fonts/noto_sans/noto_sans_var.ttf') format('.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/noto_sans/noto_sans_italic_var.woff2') format('.woff2');
  src: url('/assets/fonts/noto_sans/noto_sans_italic_var.ttf') format('.ttf');
  font-weight: 400;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --primary-font: 'Noto Sans';
}
